<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oxide Admin</title>
    <link rel="icon" type="image/png" href="<%= assetPrefix %>/static/image/logo.webp" />
    <link rel="stylesheet" href="<%= assetPrefix %>/static/lib/jssdk/antd.css" />
    <link rel="stylesheet" href="<%= assetPrefix %>/static/lib/jssdk/iconfont.css" />
</head>

<body>
    <div id="<%= mountId %>"></div>
    <script src="<%= assetPrefix %>/static/lib/jssdk/sdk.js"></script>
    <script src="<%= assetPrefix %>/static/lib/jssdk/rest.js"></script>
    <script src="<%= assetPrefix %>/static/lib/fluent.min.js"></script>
    <script src="<%= assetPrefix %>/static/locale/zh_CN.js"></script>
    <script>
        (function (w) {
            w._locale = "zh_CN";
            w.React = w.amisRequire("react");
            w.ReactDOM = w.amisRequire("react-dom");
        })(window);
    </script>
</body>

</html>